<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <description>Shiro Configuration</description>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- Shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="sessionManager" ref="sessionManager"/><!--设置session管理器-->
        <property name="cacheManager" ref="cacheManager"/><!--设置缓存管理器-->
        <property name="realms" ref="UserDbRealm" />
    </bean>

    <!--session管理器-->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="360000"/><!--设置session过期时间-->
        <property name="sessionValidationInterval" value="3000000"/><!---->
        <property name="sessionValidationSchedulerEnabled" value="true"/>
    </bean>

    <!--shiro缓存管理器 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>

    <!-- 自定义cacheManager，没有用到，只配置了一个bean，其他的没有任何作用 -->
    <bean id="redisCacheManager" class="com.lswd.youpin.shiro.jedis.RedisCacheManager">
        <property name="redisManager" ref="redisManager"/>
    </bean>

    <!-- 項目自定义的Realm -->
    <bean id="UserDbRealm" class="com.lswd.youpin.shiro.realm.UserDbRealm">
        <property name="cachingEnabled" value="false"/>
        <property name="permissionResolver" ref="permissionResolver"/>
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>


    <!--项目自定义 会话超时控制过滤器-->
    <bean id="sessionExpireFilter" class="com.lswd.youpin.shiro.filter.SessionExpireFilter"/>

    <bean id="requestFilter" class="com.lswd.youpin.shiro.filter.RequestFilter"/>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--securityManager 属性是必须配置的-->
        <property name="securityManager" ref="securityManager"/>
        <!--登录成功默认跳转页面，不配置则跳转至 '/' -->
        <!--<property name="successUrl" value="" />-->
        <!--没有登录的用户请求需要登录的页面时自动跳转到登录页面，不是必须的属性，不输入地址的话会自动寻找项目web项目的根目录下的”/login.jsp”页面。-->
        <!--<property name="loginUrl" value="" />-->
        <!--没有权限需要跳转的画面-->
        <!--<property name="unauthorizedUrl" value="" />-->
        <property name="filters">
            <util:map>
                <entry key="sessionExpire" value-ref="sessionExpireFilter"></entry>
                <entry key="resFilter" value-ref="requestFilter"></entry>
            </util:map>
        </property>
        <!--url 级别权限控制-->
        <property name="filterChainDefinitions">
            <value>
                     /authc/user/login=anon
                      /ip/getLocalHostIP=anon
                      /counterUser/loginCounterUserBT=anon
                      /user/login=anon
                      /user/verifyCode=anon
                      /user/updatePassword=anon
                      /user/getUserName=sessionExpire,resFilter
                      /user/signUp=sessionExpire,resFilter
                      /user/resetPassword=sessionExpire,resFilter
                      /user/add=sessionExpire,resFilter
                      /user/delete=sessionExpire,resFilter
                      /user/update=sessionExpire,resFilter
                      /user/getUserList=sessionExpire,resFilter
                      /user/out=anon
                      /token/isToken=anon
                      /weixin/login=anon
                      /associator/login=anon
                      /associator/register=anon
                      /associator/updatePassword=resFilter
                      /associator/isPhoneOk/**=resFilter
                      /pay/wxPay/getWxUserInfo/**=anon
                      /pay/wxPay/wxNotify=anon
                      /pay/wxPay/jssdk=anon
                      /pay/aliPay/notifyUrl=anon
                      /pay/aliPay/returnUrl=anon
                      /pay/wxPay/createQrcode/**=anon
                      /pay/wxPay/getOpenId/**=anon
                      /pay/aliPay/mobileCodePage=sessionExpire,resFilter
                      /statistics/**=sessionExpire,resFilter
                      /supplier/**=sessionExpire,resFilter
                     <!-- /user/**=sessionExpire,resFilter-->
                      /car/**=sessionExpire,resFilter
                      /employee/**=sessionExpire,resFilter
                      /order/**=sessionExpire,resFilter
                      /associator/**=sessionExpire,resFilter
                      /address/**=sessionExpire,resFilter
                      /canteen/**=sessionExpire,resFilter
                      /material/**=sessionExpire,resFilter
                      /weixin/**=sessionExpire,resFilter
                      /authc/**=sessionExpire,resFilter
                      /good/**=sessionExpire,resFilter
                      /goodplan/**=sessionExpire,resFilter
                      /goodOrder/**=sessionExpire,resFilter
                      /goodCategory/**=sessionExpire,resFilter
                      /recipeCategory/**=sessionExpire,resFilter
                      /recipe/**=sessionExpire,resFilter
                      /recipeplan/**=sessionExpire,resFilter
                      /recipeOrder/**=sessionExpire,resFilter
                      /supplier/**=sessionExpire,resFilter
                      /employee/**=sessionExpire,resFilter
                      /goodOrder/**=sessionExpire,resFilter
                      /pay/**=sessionExpire,resFilter
                      /goodCategory/**=sessionExpire,resFilter
                      /recipeCategory/**=sessionExpire,resFilter
                      /institution/**=sessionExpire,resFilter
                      /tenant/**=sessionExpire,resFilter
                      /goodCategory/**=sessionExpire,resFilter
                      /recipeCategory/**=sessionExpire,resFilter
                      /card/**=sessionExpire,resFilter
                      /account/**=sessionExpire,resFilter
                      /evaluate/**=sessionExpire,resFilter
                      /unit/**=sessionExpire,resFilter
                      /role/**=sessionExpire,resFilter
                      /region/**=sessionExpire,resFilter
                      /resource/**=sessionExpire,resFilter
                      /rfid/**=sessionExpire,resFilter
                      /members/**=sessionExpire,resFilter
                      /memberType/**=sessionExpire,resFilter
                      /memberRefundBill/**=sessionExpire,resFilter
                      /memberPayBill/**=sessionExpire,resFilter
                      /nutrition/**=sessionExpire,resFilter
                      /counterUser/**=sessionExpire,resFilter
                      /counterType/**=sessionExpire,resFilter
                      /counterOrder/**=sessionExpire,resFilter
                      /counterMenuType/**=sessionExpire,resFilter
                      /counterMenu/**=sessionExpire,resFilter
                      /counter/**=sessionExpire,resFilter
                      /mealRecord/**=sessionExpire,resFilter
                      /diskType/**=sessionExpire,resFilter
                      /jsplatform/**=sessionExpire,resFilter
                      /machine/**=resFilter
                      /appResource/**=resFilter
                      /img/**=resFilter
                      /resType/**=resFilter
                      /upload/**=resFilter
                      /banner/**=resFilter
                      /video/**=resFilter
                      /pdf/**=resFilter
                        /page/**=resFilter
                        /pageImg/**=resFilter
                       /lsy/loginapp=anon
                    /position/**=resFilter
                    /employees/**=resFilter

                      <!--  /employees/**=resFilter-->
            </value>
        </property>
    </bean>

    <!--项目自定义   过滤器-->
    <!--   <bean id="resourceFilter" class="com.lswd.youpin.shiro.filter.ResourceFilter">
           <property name="errorUrl" value="/unAuthorization"/>
           <property name="successUrl" value="/unAuthorization"/>
       </bean>-->


    <!-- <bean id="redisShiroSessionDAO" class="com.lswd.youpin.web.shiro.jedis.RedisSessionDAO">
         <property name="redisManager" ref="redisManager"/>
     </bean>-->

    <bean id="redisManager" class="com.lswd.youpin.shiro.jedis.RedisManager" init-method="init"></bean>

    <!--  <bean id="hashedCredentialsMatcher"
            class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
          <property name="hashAlgorithmName" value="MD5"/>
          <property name="storedCredentialsHexEncoded" value="true"/>
          <property name="hashIterations" value="1"/>
      </bean>-->
    <bean id="credentialsMatcher"
          class="com.lswd.youpin.shiro.permission.RetryLimitCredentialsMatcher">
        <constructor-arg ref="cacheManager"/>
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
        <property name="storedCredentialsHexEncoded" value="true"/>
    </bean>

    <!-- 自定义一个权限匹配器 -->
    <bean id="permissionResolver" class="com.lswd.youpin.shiro.permission.UrlPermissionResolver"/>

</beans>