<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lswd.youpin.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.lswd.youpin.model.Role">
        <id column="roleId" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="grade" jdbcType="SMALLINT" property="grade"/>
        <result column="is_use" jdbcType="BIT" property="isUse"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    </resultMap>
    <resultMap type="com.lswd.youpin.model.Role" id="RoleResourceMap" extends="BaseResultMap">
        <collection property="resources" ofType="com.lswd.youpin.model.lsyp.Resources">
            <id column="rid" jdbcType="INTEGER" property="id"/>
            <result column="resource_code" jdbcType="VARCHAR" property="resourceCode"/>
            <result column="resource_name" jdbcType="VARCHAR" property="resourceName"/>
            <result column="permission" jdbcType="VARCHAR" property="permission"/>
            <result column="url" jdbcType="VARCHAR" property="url"/>
            <result column="level" jdbcType="SMALLINT" property="level"/>
            <result column="sequence" jdbcType="INTEGER" property="sequence"/>
            <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
            <result column="resource_type" jdbcType="SMALLINT" property="resourceType"/>
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="remark" jdbcType="VARCHAR" property="remark"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        id, role_name, grade,is_use, is_delete, create_user, update_user,create_time,update_time,
        remark, role_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from t_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from t_role
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.lswd.youpin.model.Role">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into t_role (id, role_name, grade,
        is_use, is_delete,tenant_id ,create_user, update_user,create_time,update_time,
        remark, role_id)
        values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{grade,jdbcType=SMALLINT},
        #{isUse,jdbcType=BIT}, #{isDelete,jdbcType=BIT},#{tenantId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
        #{updateUser,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
        #{roleId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.lswd.youpin.model.Role">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="isUse != null">
                is_use,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=SMALLINT},
            </if>
            <if test="isUse != null">
                #{isUse,jdbcType=BIT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lswd.youpin.model.Role">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update t_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=SMALLINT},
            </if>
            <if test="isUse != null">
                is_use = #{isUse,jdbcType=BIT},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lswd.youpin.model.Role">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update t_role
        set role_name = #{roleName,jdbcType=VARCHAR},
        grade = #{grade,jdbcType=SMALLINT},
        is_use = #{isUse,jdbcType=BIT},
        is_delete = #{isDelete,jdbcType=BIT},
        tenant_id = #{tenantId,jdbcType=VARCHAR},
        create_user = #{createUser,jdbcType=VARCHAR},
        update_user = #{updateUser,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        remark = #{remark,jdbcType=VARCHAR},
        role_id = #{roleId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getUsersByRoleId" resultType="java.lang.Integer">
    select count(*) from t_user tu,t_role tr  where  tr.id = #{roleId,jdbcType=INTEGER} and tu.role_id=tr.id
  </select>
    <update id="deleteRoleById">
    update t_role set is_delete=1 where id=#{id}
  </update>
    <select id="getRoleList" resultMap="BaseResultMap">
        select * from t_role where is_delete=0 and tenant_id = #{tenantId,jdbcType=VARCHAR}
        <if test="roleName!=null and roleName!=''">
            AND role_name like concat(concat('%',#{roleName}),'%')
        </if>
        order by id desc
        <if test="offset!=null and pageSize!=null">
            limit #{offset},#{pageSize}
        </if>;
    </select>
    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(*) from t_role where is_delete=0 and tenant_id = #{tenantId,jdbcType=VARCHAR}
        <if test="roleName!=null and roleName!=''">
            AND role_name like concat(concat('%',#{roleName}),'%')
        </if>
    </select>
    <select id="getRoleResourcesByUserId" parameterType="java.lang.Integer" resultMap="RoleResourceMap">
        SELECT tro.id as roleId,tro.role_name,tre.id as rid,tre.resource_name,tre.url
        FROM t_user_role tur,t_role tro,t_role_resource trr,t_resource tre
        WHERE tur.user_id=#{userId} AND tur.role_id=tro.id AND tro.id=trr.role_id AND  trr.resource_id =tre.id
    </select>
    <select id="getRolePartList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select tr.id,tr.role_id,tr.role_name from  t_role tr where tr.tenant_id = #{tenantId,jdbcType=VARCHAR}
    </select>
    <select id="getMaxId" resultType="java.lang.Integer">
        select id from t_role order by id desc limit 1;
    </select>
    <select id="getAllResources" parameterType="java.lang.Integer" resultType="com.lswd.youpin.model.vo.Nodes">
        select  tr.id as id,tr.resource_code as icon,tr.resource_name as text,tr.url as href,tr.sequence as sequence,tr.level as level,tr.parent_id as parentId
        from t_resource tr,t_role_resource trr
        where tr.id=trr.resource_id and trr.role_id=#{roleId}
        order by tr.sequence
    </select>
    <select id="getResource" resultType="com.lswd.youpin.model.vo.Nodes">
        select  tr.id as id,tr.resource_code as icon,tr.resource_name as text,tr.url as href,tr.sequence as sequence,tr.level as level,tr.parent_id as pId
        from t_resource tr,t_role_resource trr
        where tr.id=trr.resource_id and trr.role_id=#{roleId} and tr.level=#{level} and tr.resource_type=#{resourceType}
        order by tr.sequence
    </select>
</mapper>