<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lswd.youpin.dao.lsyp.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.lswd.youpin.model.lsyp.Employee">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="employee_id" jdbcType="VARCHAR" property="employeeId"/>
        <result column="employee_name" jdbcType="VARCHAR" property="employeeName"/>
        <result column="region_id" jdbcType="VARCHAR" property="regionId"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="political" jdbcType="VARCHAR" property="political"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="weixin" jdbcType="VARCHAR" property="weixin"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="education" jdbcType="INTEGER" property="education"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="duty" jdbcType="VARCHAR" property="duty"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="pack_start_time" jdbcType="TIMESTAMP" property="packStartTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="safetyone" jdbcType="VARCHAR" property="safetyone"/>
        <result column="satetytwo" jdbcType="VARCHAR" property="satetytwo"/>
        <result column="safetythree" jdbcType="VARCHAR" property="safetythree"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        id, employee_id, employee_name,card_number,region_id, sex, political, major, birthday, status,
        company, weixin, email, qq, nation, duty, school, telephone, job, pack_start_time, education, is_delete, update_user, update_time, create_time
    </sql>

    <select id="selectEmployees" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select id,employee_id,employee_name,card_number,region_id,telephone ,sex, political, major, birthday, status,
        company, weixin, email, qq, nation, duty, school, telephone, job, pack_start_time, education from t_employee where is_delete=0
        <if test="regionId!=''">
            AND region_id=#{regionId,jdbcType=VARCHAR}
        </if>
        <if test="keyword!=''">
            AND employee_name LIKE #{keyword} OR telephone LIKE #{keyword} OR employee_id LIKE #{keyword} OR
            card_number=#{keyword}
        </if>
        limit #{offSet},#{pageSize}
    </select>

    <select id="getEmployeeCount" resultType="java.lang.Integer">
        select COUNT(id) from t_employee WHERE is_delete=0
        <if test="regionId!=''">
            AND region_id=#{regionId,jdbcType=VARCHAR}
        </if>
        <if test="keyword!=''">
            AND employee_name LIKE #{keyword} OR telephone LIKE #{keyword} OR employee_id LIKE #{keyword}
        </if>
    </select>

    <insert id="insertEmployee" parameterType="com.lswd.youpin.model.lsyp.Employee">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into t_employee (employee_id, employee_name, sex, birthday,telephone,
        update_user, update_time,card_number,company,education,email,major,nation,political,
        qq,region_id,school,weixin
        )
        values ( #{employeeId,jdbcType=VARCHAR}, #{employeeName,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT},
        #{birthday,jdbcType=TIMESTAMP},
        #{telephone,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP},#{cardNumber,jdbcType=VARCHAR},
        #{company,jdbcType=VARCHAR},#{education,jdbcType=BIT},#{email,jdbcType=VARCHAR},#{major,jdbcType=VARCHAR},#{nation,jdbcType=VARCHAR},
        #{political,jdbcType=VARCHAR},#{qq,jdbcType=VARCHAR},#{regionId,jdbcType=VARCHAR},#{school,jdbcType=VARCHAR},#{weixin,jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectLastId" resultType="java.lang.Integer">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select id from t_employee ORDER BY id DESC limit 1
    </select>

    <update id="updateEmployeeById" parameterType="com.lswd.youpin.model.lsyp.Employee">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update t_employee
        set
        <if test="employeeName!=null">
            employee_name = #{employeeName,jdbcType=VARCHAR},
        </if>
       <if test="sex!=null">
        sex = #{sex,jdbcType=TINYINT},
       </if>
        <if test="birthday!=null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
        </if>
        <if test="telephone!=null">
        telephone = #{telephone,jdbcType=VARCHAR},
        </if>
        <if test="cardNumber!=null">
        card_number=#{cardNumber,jdbcType=VARCHAR},
        </if>
        <if test="company!=null">
        company=#{company,jdbcType=VARCHAR},
        </if>
        <if test="education!=null">
        education=#{education,jdbcType=BIT},
        </if>
        <if test="email!=null">
        email=#{email,jdbcType=VARCHAR},
        </if>
        <if test="major!=null">
        major=#{major,jdbcType=VARCHAR},
        </if>
        <if test="nation!=null">
        nation=#{nation,jdbcType=VARCHAR},
        </if>
        <if test="political!=null">
        political=#{political,jdbcType=VARCHAR},
        </if>
        <if test="qq!=null">
        qq=#{qq,jdbcType=VARCHAR},
        </if>
        <if test="regionId!=null">
        region_id=#{regionId,jdbcType=VARCHAR},
        </if>
        <if test="school!=null">
        school=#{school,jdbcType=VARCHAR},
        </if>
        <if test="weixin!=null">
        weixin=#{weixin,jdbcType=VARCHAR},
        </if>
        update_user = #{updateUser,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteById" parameterType="com.lswd.youpin.model.lsyp.Employee">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update t_employee
        set
        is_delete = #{isDelete,jdbcType=TINYINT},
        update_user = #{updateUser,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where employee_id = #{employeeId,jdbcType=VARCHAR}
    </update>


    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
         select id,employee_id,employee_name,card_number,region_id,telephone,company,education,
         email,major,nation,political,sex,birthday,
        qq,school,weixin from t_employee where id=#{id}
    </select>

    <select id="getMaxEmployeeID"  resultType="java.lang.Integer">
        select MAX(id) from t_employee
    </select>

    <select id="getEmployessAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from t_employee WHERE 1=1
        AND region_id IN
        <foreach collection="regions" index="index" separator="," open="(" close=")" item="region">
            #{region}
        </foreach>
    </select>

    <select id="selectByCardId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,employee_id,employee_name,card_number,region_id,telephone,company,education from t_employee
        where card_number=#{cardNumber,jdbcType=VARCHAR} and employee_name=#{username,jdbcType=VARCHAR} limit 1
    </select>

    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,employee_id,employee_name,card_number,region_id,telephone,
          company,education from t_employee where telephone=#{phone,jdbcType=VARCHAR}
    </select>

</mapper>